@import "./variables";

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin card {
  background: $bg-card;
  border: 1px solid $border-color;
  border-radius: $radius-lg;
}